.footer-site {
  border-top: 1px solid #707070;
  padding: 180px 80px 30px;
  .footer-menu,
  .footer-secondarymenu {
    li {
      padding: 0 5px;
      display: inline-block;
    }
  }
}

.footer-nav-links a {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}
