// Main navigation (note: mobile first, responsive breakpoints for medium viewports and above are lower down)
.main-nav {
  .navbar {
    min-height: 0;
    border: 0;
    display: block;
    padding: 0;
  }

  .nav-link {
    font-weight: 500;
    letter-spacing: 0.48px;
    padding: $navbar-padding-y $navbar-padding-x;
    span {
      position: relative;
      &:after {
        position: absolute;
        content: "";
        width: 0;
        left: 0;
        bottom: -8px;
        border-bottom: 2px solid #F7CB53;
        transition: width 200ms cubic-bezier(0.76, 0, 0.24, 1);
      }
    }
    &:hover {
      span {
        &:after {
          width: 100%;
        }
      }
    }
  }

  .navbar-nav {
    padding-right: 40px;
    border-right: 1px solid #707070;
    margin-bottom: -20px;
    @media only screen and (max-width: 1590px) {
      display: none;
    }
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }

    > .current > a {
      &,
      &:hover,
      &:focus {
        background-color: transparent; //$gray-100;
        span {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }

  .dropdown {
    &:hover .navbar-touch-caret,
    &:focus .navbar-touch-caret {
      background-color: transparent;
    }

    // When active
    &.current {
      .navbar-touch-caret,
      &:hover .navbar-touch-caret,
      &:focus .navbar-touch-caret {
        background: $gray-100;

        &:hover,
        &:focus {
          background-color: $gray-100;
        }
      }
    }

    &.open {
      .dropdown-menu {
        display: block;
      }
    }
  }

  // All sub-navigation menus
  .dropdown-menu {
    border-width: 0;
    margin-top: 0;
  }

  .dropdown-item {
    // All sub-navigation menu items
    color: $navbar-light-color;

    &:hover,
    &:focus {
      color: $navbar-light-hover-color;
      text-decoration: none;
    }

    &:active {
      background-color: $gray-100;
    }
  }

  .active {
    // Active (currently selected) sub-navigation menu items
    .dropdown-item {
      background-color: $gray-100;
      color: $navbar-light-hover-color;
    }
  }
}

.navbar-touch-caret {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  color: $navbar-light-color;
  padding: $navbar-padding-y $navbar-padding-x $navbar-padding-y 8px;
}

.navbar-form {
  margin-bottom: 0;
}

.navbar-collapse {
  border-top: 0;
}

// Medium and up viewports
@include media-breakpoint-up(md) {
  .main-nav {
    .dropdown {
      // Make room for the caret to be displayed
      padding-right: $navbar-padding-x * 1.75;
    }

    .dropdown-menu {
      border-width: 1px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .dropdown-item {
      a {
        color: $navbar-light-color;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }

    .nav-link {
      padding: $navbar-padding-x;
    }

    .navbar {
      //border-bottom: 1px solid $navbar-light-toggler-border-color;
    }
  }

  .navbar-touch-caret {
    padding: $navbar-padding-x;
    border-radius: 0;
  }
}

//user nav
.user-nav {
  display: flex;
  list-style: none;
  margin-bottom: -20px;
  padding-left: 35px;
  li {
    .nav-link {
      color: $cod-gray;
      padding: 1rem 1.12rem;
      &.active {
        span {
          &:after {
            width: 100% !important;
          }
        }
      }
      .link-icon {
        padding-left: 12px;
        margin-top: -5px;
      }
    }
  }
}
.util-nav {
  display: flex;
  list-style: none;
  margin-bottom: -10px;
  padding-left: 10px;
  li {
    .nav-link {
      color: $cod-gray;
      padding: 1.3rem 0 1rem 1.5rem;
    }
    &:first-child {
      .nav-link {
        @media only screen and (max-width: 1589px) {
          padding-left: .5rem;
        }
      }
    }
    .nav-favourites {
      position: relative;
      .fav-counter {
        display: none;
        position: absolute;
        font-size: 12px;
        text-align: center;
        color: #fff;
        height: 23px;
        width: 23px;
        bottom: 11px;
        right: -10px;
        border-radius: 50px;
        background-color: #EB6543;
        line-height: 23px;
        &.filled {
          display: block;
        }
        &:after {
          display: none !important;
        }
      }
    }
  }
}
.socials {
  position: absolute;
  right: 0;
  top: -90px;
  display: flex;
  list-style: none;
  li {
    .nav-link {
      font-size: 18px;
      text-align: center;
      color: #fff;
      i {
        height: 30px;
        width: 30px;
        border-radius: 50px;
        background-color: $footer-gray;
        line-height: 29px;
      }
    }
    &:last-child {
      .nav-link {
        padding-right: 0;
      }
    }
  }
}
