/** ----------------------------------------------------------
 *
 * Contains the custom style of the page.
 * Acts as the main stylesheet for theme.
 *
 *		Include your notes or table of contents below....
 *		Include color hex's or values of your grid
 *
 *		1. Header
 *      - Site Header
 *        - Pre Header
 *      - Navigation
 *      - Search Bar
 *		2. Sections
 *      - Card
 *      - Featured Events
 *      - Image Banner
 *      - Listing Grid
 *      - Latest News
 *      - Sortable Listing
 *      - Search Tab Element
 *      - Upcoming Events
 *    3. Pages
 *      - Listing Page
 *    4. Global Settings
 *		5. Footer
 *      - Pre-footer
 *      - Post-footer
 *
 * @author NZ Digital
 * ------------------------------------------------------- */


//	1. Header


//	2. Sections
.page-section {
  // -- Card -- //
  &.sectionCard {
    .card-container {

    }
  }
  // -- Featured Events -- //
  &.sectionFeaturedEvents  {
    .featuredEvents-container {
      .listing-content {
        &--img {
          img {
            height: 30vw;
            object-fit: cover;
          }
        }
        &--date {
          display: inline-block;
          padding: 6px 36px;
          background-color: $saffron-mango;
        }
        &--details {
          max-width: 875px;
        }
      }
      .owl-carousel {
        .owl-item {
          transition: opacity 200ms cubic-bezier(0.76, 0, 0.24, 1);
          &:not(.active) {
            opacity: 20%;
          }
        }
        .owl-nav,
        .owl-dots {
          position: absolute;
          top: -150px;
          transform: translate3d(-50%, 0, 0);
          left: 50%;
        }
        .owl-nav {
          .owl-prev {
            position: relative;
            margin-right: 80px;
            transition: left 200ms cubic-bezier(0.76, 0, 0.24, 1);
            &:active {
              left: -5px;
            }
          }
          .owl-next {
            position: relative;
            margin-left: 80px;
            transition: left 200ms cubic-bezier(0.76, 0, 0.24, 1);
            &:active {
              right: -5px;
            }
          }
        }
        .owl-dots {
          top: -127px;
          .owl-dot {
            height: 10px;
            width: 10px;
            border: 1px solid #707070;
            border-radius: 50px;
            margin: 0 5px;
            transition: background-color 200ms cubic-bezier(0.76, 0, 0.24, 1), border-color 200ms cubic-bezier(0.76, 0, 0.24, 1);
            &.active {
              background-color: $cod-gray;
              border-color: $cod-gray;
            }
          }
        }
      }
    }
  }

  // -- Image Banner -- //
  &.sectionImageBanner {
    position: relative;
    .imageBanner-container {
      position: relative;
    }
    .banner-img {
      background-repeat: no-repeat;
      background-size: cover;
      &.bh-small {
        height: 30vw;
      }
      &.bh-medium {
        height: 35vw;
      }
      &.bh-large {
        height: 40vw;
      }
      &.bh-xlarge {
        height: 50vw;
      }
    }
    .banner-content {
      position: absolute;
      top: 50%;
      padding-left: 100px;
      padding-right: 100px;
      &.cp-left {
        transform: translate3d(0, -50%, 0);
        left: 0;
      }
      &.cp-center {
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
      &.cp-right {
        right: 0;
        transform: translate3d(0, -50%, 0);
      }
    }
  }

  // -- Listing Grid -- //
  &.sectionListingGrid {
    .listingGrid-container {
      .listing-content {
        &--img {
          img {
            width: 100%;
            height: 464px;
            object-fit: cover;
          }
        }
        &--details {
          min-height: 135px;
        }
      }
    }
  }

  // -- Latest News -- //
  &.sectionLatestNews {
    .latestNews-container {
      .newslist-content {
        &--link {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translate3d(0, -50%, 0);
        }
      }
    }
  }

  // -- Sortable Listing -- //
  &.sectionSortableListing {
    .sortableListings-container {
      .sortable-listing {
        &--sorter {
          .dropdown {
            &.show {
              .dropdown-toggle {
                .fa-angle-down {
                  transform: rotate(180deg);
                }
              }
            }
          }
          .dropdown-toggle {
            position: relative;
            width: 100%;
            max-width: 462px;
            background-color: $carra;
            padding: 15px;
            border-radius: 5px;
            .fa-sort-amount-down-alt {
              color: #6F6F6F;
            }
            &:after {
              display: none;
            }
            .fa-angle-down {
              position: absolute;
              top: 50%;
              right: 36px;
              transform: translate3d(0, -50%, 0);
              line-height: 0;
            }
          }
          .dropdown-menu {
            width: 100%;
            max-width: 462px;
            padding: 30px 40px;
            margin: 0;
            border-radius: 0 0 5px 5px;
            box-shadow: 0 1px 3px rgb(0 0 0 / 16%);
            .dropdown-item {
              padding: 0;
              transition: color 200ms cubic-bezier(0.76, 0, 0.24, 1);
              &.active,
              &:hover {
                color: $cod-gray;
                background-color: transparent;
              }
              &:not(:last-child) {
                border-bottom: 1px solid $footer-gray;
                padding: 7px 0;
              }
              &:last-child {
                padding-top: 7px;
              }
            }
          }
        }
        &--items {
          margin-top: 43px;
          .listing-content {
            margin-bottom: 134px;
            &--img {
              img {
                width: 100%;
                height: 17vw;
                object-fit: cover;
              }
            }
            &--location-date {
              display: flex;
              .listing-date {
                display: inline-block;
                padding: 6px 36px;
                background-color: $footer-gray;
              }
              .listing-location {}
            }
            &--details {
              min-height: 135px;
            }
          }
        }
      }
    }
  }

  // -- Search Tab Element -- //
  &.sectionSearchTabElement  {
     .searchTabElement-container {
       .tab {
         .tablinks {
           position: relative;
           color: $white;
           text-align: left;
           padding: 15px 100px 14px;
           border: 0;
           i {
             position: absolute;
             top: 50%;
             right: 100px;
             transform: translate3d(0, -50%, 0);
           }
         }
       }
       .tabcontent {
         display: none;
         //max-height: 0;
         //overflow: hidden;
         transition: display 200ms cubic-bezier(0.76, 0, 0.24, 1);
         &.active {
           display: block;
           //max-height: 600px;
         }
       }
       .filters {
         padding: 100px 240px;
         .filter-item {
           padding: 0 8px;
           .filter-field {
             position: relative;
             .filter-date,
             .filter-location,
             .filter-categories {
               .dropdown-toggle {
                 width: 100%;
                 text-align: left;
                 border: 0;
                 border-radius: 5px;
                 padding: 15px 26px;
                 background-color: white;
               }
               .dropdown-menu {
                 width: 100%;
                 margin-top: -4px;
                 padding: 25px 26px;
                 border: 0;
                 border-top-right-radius: 0;
                 border-top-left-radius: 0;
                 background-color: $carra;
                 box-shadow: 0 1px 5px rgb(0 0 0 / 16%);
                 .dropdown-item {
                   color: $scorpion;
                   padding: 0;
                   transition: color 200ms cubic-bezier(0.76, 0, 0.24, 1) ;
                   &.active,
                   &:hover {
                     color: $cod-gray;
                     background-color: transparent;
                   }
                   &:not(:last-child) {
                     border-bottom: 1px solid $footer-gray;
                     padding: 7px 0;
                   }
                   &:last-child {
                     padding-top: 7px;
                   }
                 }
               }
               &.show {
                 i {
                   transform: rotate(180deg);
                 }
               }
             }
             .filter-date {
               .calendar-options {
                 padding: 0 26px;
               }
               .dropdown-menu {
                 padding-right: 0;
                 padding-left: 0;
                 padding-bottom: 0;
               }
               .calendar {
                 .ui-datepicker {
                   width: 100%;
                   border: 0;
                   padding: 0;
                   margin-top: 20px;
                   .ui-corner-all {
                     .ui-icon {
                        background-position: center;
                     }
                   }
                   .ui-datepicker-next,
                   .ui-datepicker-prev {
                     top: auto;
                   }
                   .ui-datepicker-next {
                     .ui-icon {
                       background-image: url("../images/next-icon.svg");
                     }
                   }
                   .ui-datepicker-prev {
                     .ui-icon {
                       background-image: url("../images/prev-icon.svg");
                     }
                   }
                   &-header {
                     font-weight: 200;
                     padding: 10px;
                     border: 0;
                     border-radius: 0;
                     background-color: #E6E6E6;
                   }
                   &-calendar {
                     margin-bottom: 0;
                     thead {
                       background-color: #EBEBEB;
                       th {
                         font-weight: 200;
                       }
                     }
                     tbody {
                       td {
                         padding: 0;
                         .ui-state-default {
                           text-align: center;
                           padding: 12px;
                           border: 0;
                         }
                       }
                     }
                   }
                 }
               }
             }
             .filter-keywords {
               width: 100%;
             }
             input {
               border: 0;
               border-radius: 5px;
               padding: 15px 26px;
             }
             i,
             .img-icon {
               position: absolute;
               color: $saffron-mango;
               top: 50%;
               right: 15px;
               transform: translate3d(0, -50%, 0);
               line-height: 0;
             }
           }
         }
       }
     }
  }

  // -- Upcoming Events -- //
  &.sectionUpcomingEvents {
    .upcomingEvents-container {
      .listing-content {
        margin-bottom: 134px;
        &--img {
          img {
            width: 100%;
            height: 17vw;
            object-fit: cover;
          }
        }
        &--location-date {
          display: flex;
          .listing-date {
            display: inline-block;
            padding: 6px 36px;
            background-color: $footer-gray;
          }
          .listing-location {}
        }
        &--details {
          min-height: 135px;
        }
      }
    }
  }

}

//	3. Pages
/** Listing Page **/
.sectionListingPageContent  {
  .listing-content {
    &--img {
      img {
        width: 100%;
      }
    }
    &--gallery {
      position: relative;
      .gallery-image {
        img {
          height: 463px;
          width: 463px;
          object-fit: cover;
          @media only screen and (min-width: 1921px) {
            height: 20vw;
            width: 100%;
          }
        }
      }
      .owl-carousel {
        .owl-item {
          transition: opacity 200ms cubic-bezier(0.76, 0, 0.24, 1);
          &:not(.active) {
            opacity: 20%;
          }
        }
        .owl-nav {
          position: absolute;
          top: -50px;
          width: 100%;
        }
        .owl-dots {
          position: absolute;
          top: -50px;
          transform: translate3d(-50%, 0, 0);
          left: 50%;
        }
        .owl-nav {
          .owl-prev {
            position: absolute;
            left: 0;
            transition: left 200ms cubic-bezier(0.76, 0, 0.24, 1);
            &:active {
              left: -5px;
            }
          }
          .owl-next {
            position: absolute;
            right: 0;
            transition: left 200ms cubic-bezier(0.76, 0, 0.24, 1);
            &:active {
              right: -5px;
            }
          }
        }
        .owl-dots {
          top: -54px;
          .owl-dot {
            height: 10px;
            width: 10px;
            border: 1px solid #707070;
            border-radius: 50px;
            margin: 0 5px;
            transition: background-color 200ms cubic-bezier(0.76, 0, 0.24, 1), border-color 200ms cubic-bezier(0.76, 0, 0.24, 1);
            &.active {
              background-color: $cod-gray;
              border-color: $cod-gray;
            }
          }
        }
      }
    }
  }
}


//	4. Global Settings
.container-small {
  max-width: 1040px;
  margin: auto;
}

img.right, figure.right {
  margin: 0;
}

hr {
  border-color: #707070;
}

.sidebar-content {
  width: 100%;
  max-width: 530px;
}

.inner-padding {
  padding-left: 240px !important;
  padding-right: 240px !important;
}
.inner-padding--left {
  padding-left: 240px !important;
}
.inner-padding--right {
  padding-right: 240px !important;
}
//Textbox Placeholder Color
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $footer-gray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $footer-gray;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $footer-gray;
}

// Events
.listing-content {
  &--tags {
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 26px;
    .tag-name {
      text-decoration: underline;
      margin-right: 13px;
    }
  }
  .btn-utils {
    border: 0;
    padding: 0;
    background: transparent;
    margin-right: 20px;
    transition: transform 200ms cubic-bezier(0.76, 0, 0.24, 1);
    &:active,
    &:target {
      transform: scale(0.8);
    }
  }
}

//Responsiveness
.mobile-responsive {
  display: none;
  @media only screen and (max-width: 1589px) {
    display: block;
  }
}
.desktop-responsive {
  @media only screen and (max-width: 1589px) {
    display: none;
  }
}
