.form-header {
  position: relative;
  font-size: 60px;
  font-weight: $font-weight-light;
  line-height: 100%;
  max-width: 660px;
  &:before {
    position: absolute;
    content: "";
    top: 25px;
    left: -143px;
    height: 15px;
    width: 90px;
    background-color: $carra;
    @media only screen and (min-width: 1590px) {
      left: -143px;
      width: 90px;
    }
    @media only screen and (max-width: 1589px) and (min-width: 669px) {
      left: -55px;
      width: 40px;
    }
    @media only screen and (max-width: 668px) {
      top: -35px;
      left: -39px;
      width: 138px;
    }
  }
  @media only screen and (max-width: 1589px) and (min-width: 768px) {
    font-size: 60px;
  }
  @media only screen and (max-width: 767px) {
    font-size: 40px;
  }
}
.form-subheader {
  font-size: 35px;
  font-weight: $font-weight-light;
  max-width: 620px;
  @media only screen and (max-width: 991px){
    font-size: 25px;
    line-height: 130%;
    padding: 40px 0;
  }
}
.fields {
  display: flex;
  flex-wrap: wrap;
}
.form-control:disabled,
.form-control:read-only {
  background-color: rgb(162 162 162 / 15%);
}
.form-group {
  &.has-error {
    margin-bottom: .5rem;
  }
  .col-form-label {
    display: none !important;
  }
  .form-text {
    font-size: 16px;
    color: $footer-gray;
    padding-left: 10px;
  }
  input,
  textarea {
    border: 1px solid $footer-gray;
  }
  input {
    &[type='text'],
    &[type='email'],
    &[type='password']{
      height: 100%;
      padding: 13.2px 26.2px;
      border-radius: 50px;
      &::placeholder {
        color: $footer-gray;
      }
    }
    &.input-price {
      //max-width: 237px;
      padding-left: 35px;
    }
    &.input-line,
    &.input-price {
      font-size: 20px;
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid #707070;
    }
  }
  select.dropdown {
    height: 100%;
    padding: 13.2px 26.2px;
    appearance: none;
    background: url('../images/arrow-down-gray.png') 96% center no-repeat !important;
    border-radius: 50px;
    border-color: $footer-gray;
  }
  textarea {
    border: 1px solid $footer-gray;
    border-radius: 0;
    &.rounded-textarea {
      padding: 20px;
      border-radius: 25px;
    }
    &.textarea-small {
      min-height: 162px;
    }
    &.large-textarea {
      min-height: 367px;
    }
  }
  textarea::placeholder {
    color: $footer-gray;
  }
  button,
  input[type='submit'] {
    &.action {
      width: 100%;
    }
  }
  .password {
    position: relative;
    .btn-reveal-password {
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translate3d(0, -50%, 0);
    }
  }
  &.optionset-day,
  .optionset,
  .single-option {
    .form-check {
      position: relative;
      text-align: center;
      padding: 0;
      margin-bottom: 10px;
      @media only screen and (max-width: 991px) {
        width: 100%;
      }
      &:first-child {
        @media only screen and (min-width: 992px) {
          padding-right: 30px;
        }
        @media only screen and (max-width: 991px) {
          margin-top: 10px;
        }
      }
      input[type='radio'],
      input[type='checkbox']{
        position: absolute;
        top: 0;
        left: 50%;
        padding: 0;
        visibility: hidden;
        &:checked + label {
          background-color: $footer-gray;
          color: #fff;
        }
      }
      label {
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $scorpion;
        width: 100%;
        min-width: 194px;
        padding: 10px 0;
        border-radius: 50px;
        border: 1px solid $footer-gray;
        margin-bottom: 0;
        cursor: pointer;
        transition: color 200ms cubic-bezier(0.76, 0, 0.24, 1), background-color 200ms cubic-bezier(0.76, 0, 0.24, 1);
        &:hover {
          background-color: $footer-gray;
          color: #fff;
        }
      }
    }
  }
  &.optionset-day {
    .form-check {
      text-align: left;
      label {
        color: $footer-gray;
        max-width: 212px;
        text-align: center;
      }
    }
  }
  .single-option {
    .form-check {
      width: 100%;
      &:first-child {
        padding-right: 0;
      }
      label {
        width: 100%;
      }
    }
  }
}
.dropdown-selector {
  &.show {
    .dropdown-toggle {
      &:after {
        transform: rotate(180deg);
      }
    }
  }
  .dropdown-toggle {
    cursor: pointer;
    height: 100%;
    color: #a2a2a2;
    border: 1px solid #a2a2a2;
    border-radius: 50px;
    padding: 13.2px 26.2px 13.2px 26.2px;
    transition: background-color 200ms cubic-bezier(0.76, 0, 0.24, 1), color 200ms cubic-bezier(0.76, 0, 0.24, 1);
    width: 100%;
    text-align: left;
    &:after {
      position: absolute;
      background: url('../images/arrow-down-gray.png') 96% center no-repeat !important;
      border: 0;
      top: 20px;
      right: 28px;
      height: 15px;
      width: 15px;
    }
  }
  .dropdown-menu {
    width: 100%;
    margin-top: 0;
    padding: 25px 26px;
    border: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: $carra;
    box-shadow: 0 1px 5px rgb(0 0 0 / 16%);
    .dropdown-item {
      cursor: pointer;
      color: #A2A2A2;
      padding: 0;
      transition: color 200ms cubic-bezier(0.76, 0, 0.24, 1) ;
      &.active,
      &:hover {
        color: $cod-gray;
        background-color: transparent;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $footer-gray;
        padding: 7px 0;
      }
      &:last-child {
        padding-top: 7px;
      }
    }
  }
}
.calendar-datepicker {
  &.disabled {
    position: relative;
    &:after {
      position: absolute;
      width: 100%;
      content: '';
      height: 100%;
      background-color: #a2a2a214;
      top: 0;
    }
    .pignose-calendar {
      box-shadow: none;
    }
  }
}
.form-container {
  @media only screen and (max-width: 991px) {
    padding-top: 120px;
  }
}
.skip-btn {
  border: 0;
  background-color: transparent;
  outline: none;
  @media only screen and (min-width: 992px) {
    padding-top: 18px;
    padding-left: 26px;
  }
  @media only screen and (max-width: 991px) {
    padding-top: 10px;
    padding-left: 17px;
  }
}
button.save-draft {
  border: 0;
  background-color: transparent;
}
.searchfield {
  &:focus {
    box-shadow: none;
  }
}
.message {
  &.required {
    color: $danger
  }
}
.image-upload {
  &.featured-image {
  }
  label {
    font-size: 20px;
    //margin-bottom: 25px;
  }
  #FeaturedImage {
    label {
      &:after {
        content: '(Image should be 1440 pixels wide x 750 pixels tall, max image size 150kb)';
        display: block;
        font-size: 16px;
        color: $footer-gray;
      }
    }
  }
  #GalleryImages {
    label {
      &:after {
        content: '(Add up to four gallery images, images should be 1440 pixels wide x 750 pixels tall, max image size 150kb each)';
        display: block;
        font-size: 16px;
        color: $footer-gray;
      }
    }
  }
}
.profile-image {
  display: none;
  &.active {
    display: block;
  }
}
.mark,
mark {
  color: $cod-gray !important;
  background-color: transparent;
  border-bottom: 2px solid $cod-gray;
  padding: 0;
}
.result  {
  &.listing__item {
    a {
      text-decoration: none;
    }
  }
}
.page-summary {
  padding: 10px 15px;
}
.results  {
  &.listing {
    padding: 10px 15px;
  }
}

.currency-code {
  position: absolute;
  font-size: 20px;
  top: 13px;
}
.calendar-datepicker,
.calendar-datepicker--dropdown {
  .pignose-calendar {
    width: 100%;
    max-width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    .pignose-calendar-top {
      display: flex;
      align-items: center;
      background-color: #E6E6E6;
      padding: 0;
      border: 0;
      box-shadow: none;
      .pignose-calendar-top-date {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        .pignose-calendar-top-month {
          text-transform: none;
          margin-bottom: 0;
          margin-right: 5px;
        }
        .pignose-calendar-top-month,
        .pignose-calendar-top-year{
          font-family: $font-family-arial;
          font-size: 16px;
          font-weight: 400;
          color: #141414;
        }
      }
      .pignose-calendar-top-prev {
        margin-left: 0.5em;
      }
      .pignose-calendar-top-next {
        margin-right: 0.5em;
      }
    }
    .pignose-calendar-header {
      background-color: #EBEBEB;
      .pignose-calendar-week {
        color: #141414 !important;
      }
    }
    .pignose-calendar-body {
      background-color: #F2F2F2;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .pignose-calendar-header,
    .pignose-calendar-body{
      font-size: 14px;
      font-weight: normal;
      margin-top: 0;
      padding: 0;
    }
    .pignose-calendar-unit {
      height: 3rem;
      line-height: 3em;
      a {
        color: $footer-gray;
      }
      &-active {
        a {
          font-weight: 400;
          border: 1px solid #e96649;
          color: #E96649 !important;
          border-radius: 0;
          background-color: transparent;
          box-shadow: none;
        }
      }
    }
    .pignose-calendar-unit-range {
      a {
        color: #fff;
        background-color: #e96649;
      }
    }
    .icon-arrow-left,
    .icon-arrow-right {
      font-family: $font-family-font-awesomePro !important;
      &:before {
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .icon-arrow-left {
      &:before {
        background-image: url("../images/prev-icon.svg");
      }
    }
    .icon-arrow-right {
      &:before {
        background-image: url("../images/next-icon.svg");
      }
    }
  }
}
.calendar-datepicker {
  &.disabled {
    .pignose-calendar-unit {
      &-active {
        a {
          border: 1px solid transparent;
          color: #a2a2a2 !important;
        }
      }
    }
    .pignose-calendar-unit-range {
      a {
        color: #a2a2a2;
        background-color: transparent;
      }
    }
  }
}
.optionset-daypicker {
  &.disabled {
    position: relative;
    &:after {

    }
  }
}
.calendar-datepicker--dropdown {
  .pignose-calendar {
    border: 0;
    box-shadow: none;
    margin-top: 20px;
  }
}
.listingDateTimes {
  .date-time-item {
    .selectedDate {
      padding-bottom: 8px;
      border-bottom: 1px solid #707070;
    }
    .dropdown-toggle {
      position: relative;
      text-align: left;
      width: 100%;
      padding-bottom: 10px;
      background-color: transparent;
      border: 0;
      padding-left: 0;
      border-bottom: 1px solid;
      line-height: 100%;
      color: $tundora;
      &:after {
        display: none;
      }
    }
    button[disabled].dropdown-toggle {
      color: grey;
    }
    .dropdown-menu {
      max-height: 290px;
      width: 100%;
      overflow: auto;
      margin-top: 15px;
      padding: 25px 26px;
      border: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      background-color: $carra;
      box-shadow: 0 1px 5px rgb(0 0 0 / 16%);
      .dropdown-item {
        color: $scorpion;
        padding: 0;
        transition: color 200ms cubic-bezier(0.76, 0, 0.24, 1) ;
        &.active,
        &:hover {
          color: $cod-gray;
          background-color: transparent;
        }
        &:not(:last-child) {
          border-bottom: 1px solid $footer-gray;
          padding: 7px 0;
        }
        &:last-child {
          padding-top: 7px;
        }
      }
    }
    .btn-remove,
    .btn-arrowdown {
      cursor: pointer;
      position: absolute;
      right: 10px;
    }
    .btn-arrowdown {
      font-size: 26px;
    }
  }
  .addTime-btn,
  .removeTime-btn {
    margin-left: 20px;
    button {
      border: 0;
      background-color: transparent;
      color: $site-gray;
    }
    &.active {
      button {
        color: $cod-gray;
      }
    }
  }
}

.selectedDate,
.selectedStartTime,
.selectedEndTime {
  position: relative;
  max-width: 237px;
  &.has-error {
    border-color: $danger;
    .text {
      color: $danger;
    }
  }
  .dropdown-toggle {
    text-align: left;
    width: 100%;
    padding-bottom: 10px;
    background-color: transparent;
    border: 0;
    padding-left: 0;
    border-bottom: 1px solid;
    line-height: 100%;
    color: $tundora;
    &:after {
      display: none;
    }
  }
  button[disabled].dropdown-toggle {
    color: grey;
  }
  &.disabled {
    .dropdown-menu {
      display: none;
    }
    .dropdown-toggle {
      border-bottom-color: $footer-gray;
      span {
        color: $footer-gray;
      }
    }
    .btn-arrowdown {
      color: $footer-gray;
    }

  }
  .dropdown-menu {
    max-height: 290px;
    width: 100%;
    overflow: auto;
    margin-top: 15px;
    padding: 25px 26px;
    border: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: $carra;
    box-shadow: 0 1px 5px rgb(0 0 0 / 16%);
    .dropdown-item {
      color: $scorpion;
      padding: 0;
      transition: color 200ms cubic-bezier(0.76, 0, 0.24, 1) ;
      cursor: pointer;
      &.active,
      &:hover {
        color: $cod-gray;
        background-color: transparent;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $footer-gray;
        padding: 7px 0;
      }
      &:last-child {
        padding-top: 7px;
      }
    }
  }
  .btn-remove,
  .btn-arrowdown {
    cursor: pointer;
    position: absolute;
    right: 10px;
  }
  .btn-arrowdown {
    font-size: 26px;
  }
}
.selectedStartTime,
.selectedEndTime {
  &.show {
    i {
      transform: rotate(180deg);
    }
  }
}
.selectedEndTime {
  display: flex;
}

.category-selector {
  .form-check {
    padding-left: 0;
    input[type=checkbox]:checked + label {
      color: #fff;
      background-color: $footer-gray;
    }
    input {
      visibility: hidden;
    }
    label {
      cursor: pointer;
      height: 100%;
      color: $footer-gray;
      border: 1px solid $footer-gray;
      border-radius: 50px;
      padding: 13.2px 26.2px 13.2px 20px;
      transition: background-color 200ms cubic-bezier(0.76, 0, 0.24, 1), color 200ms cubic-bezier(0.76, 0, 0.24, 1);
      width: 100%;
    }
  }
}
button,
input[type='submit'] {
  &.action {
    color: $cod-gray;
    width: 100%;
  }
}
.actions {
  position: relative;
  .btn-signin {
    display: block;
    + i {
      position: absolute;
      right: 33px;
      top: 24%;
      transform: translate3d(0, -24%, 0);
      transition: right 200ms cubic-bezier(0.76, 0, 0.24, 1);
    }
    &:focus,
    &:active,
    &:hover {
     + i {
        right: 26px;
      }
    }
  }
  .forgot-password {
    display: block;
    padding: 5px 15px;
  }
}

.error-field {
  display: none;
  &.show {
    display: block;
  }
}
.dropzone-holder.uploadable {
  padding-bottom: 0;
  background-color: $carra;
  @media only screen and (min-width: 992px) {
    min-height: 236px;
    min-width: 439px;
  }
  border: 0 !important;
  border-radius: 0;
  margin-top: 33px;
  P {
    font-size: 14px;
  }
}

.featured-image,
.featured-logo {
  .fileattachment {
    ul {
      &.file-attachment-field-previews.grid {
        li {
          border: 0 !important;
          max-width: 100% !important;
          margin: 10px 0 0 !important;
          padding-right: 0 !important;
          padding-left: 0 !important;
          .file-icon {
            width: initial !important;
          }
        }
        .file-icon {
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.fileattachment a {
  text-decoration: underline !important;
}

#NewsArticleForm_NewsArticleForm {
  .form-group {
    .col-form-label {
      display: block !important;
      font-size: 20px !important;
      font-weight: 400 !important;
    }
    textarea {
      border-radius: 25px;
      padding: 20px;
    }
    #NewsArticleForm_NewsArticleForm_Content {
      min-height: 237px;
    }
    #NewsArticleForm_NewsArticleForm_AuthorBio {
      min-height: 148px;
    }
  }
}
#RegistrationForm_RegistrationForm,
#ListingForm_ListingForm,
#AccountForm_AccountForm,
#ContributorForm_ContributorForm{
  .actions {
    display: none;
  }
}
#AccountForm_AccountForm {
  .fields {
    align-items: center !important;
  }
  input[type='submit'].action {
    width: auto;
    min-width: 212px;
  }
}

#AccountForm_AccountForm_ProfilePhotoIDGroup_Holder {
  #ProfilePhotoID label {
    display: none;
  }
  .dropzone-holder.uploadable {
    max-width: 400px;
    margin-left: auto;
  }
}

.s-hidden {
  visibility:hidden;
  padding-right:10px;
}
.select {
  position:relative;
}
.dropdown-tags {
  .options {
    li {
      display: none;
      &.show {
        display: block;
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}
.styledSelect {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding: 14px 20px;
  border: 1px solid $footer-gray;
  color: $footer-gray;
  border-radius: 50px;
  background-color:white;
  background: url('../images/arrow-down-gray.png') 96% center no-repeat !important;
}
.styledSelect:after {
  content:"";
  width:0;
  height:0;
  border:5px solid transparent;
  position:absolute;
  top:9px;
  right:6px;
}
.styledSelect:active, .styledSelect.active {
  background-color:#eee;
}
.options {
  display:none;
  position:absolute;
  top:100%;
  right:0;
  left:0;
  z-index:999;
  list-style:none;
  margin-top: -4px;
  padding: 25px 26px;
  border: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: $carra;
  box-shadow: 0 1px 5px rgb(0 0 0 / 16%);
  li {
    cursor: pointer;
    color: $scorpion;
    padding: 7px 0;
    transition: color 200ms cubic-bezier(0.76, 0, 0.24, 1) ;
    &:not(:last-child) {
      border-bottom: 1px solid $footer-gray;
    }
    &.selected {
      color: $cod-gray;
    }
    &:hover {
      color: $cod-gray;
      background-color: transparent;
    }
  }
}
.selected-category,
.selected-subcategory,
.selected-tags,
.selected-dropdown {
  display: none;
  .item {
    position: relative;
    display: block;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    max-width: 296px;
    padding: 13px 25px;
    border-radius: 50px;
    margin-bottom: 10px;
    background-color: $carra;
    color: $scorpion;
    border: 0;
    .remove-item {
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translate3d(0, -50%, 0);
    }
  }
  &.has-item {
    display: block;
  }
}
.selected-dropdown {
  .item {
    text-transform: none;
    color: $scorpion;
  }
}
.sub-category-wrapper {
  display: none;
  &.active {
    display: block;
  }
}

//Modal Success
#modal-success,
#modal-newsletter {
  opacity: 0;
  .modal-dialog {
    max-width: 850px;
    .modal-content {
      background-color: $carra;
      box-shadow: -10px 0px 20px 0 rgb(0 0 0 / 16%);
      border: 0;
      .modal-header {
        border: 0;
      }
      .modal-body {
        padding: 30px 20px 80px;
      }
    }
  }
  &.show {
    background-color: rgb(0 0 0 / 35%);
    display: block;
    opacity: 1;
  }
}
#modal-newsletter {
  .actions {
    display: none;
  }
}
