@font-face {
  font-family: 'Moderna Sans Black It';
  src: url('../webfonts/ModernaSans-BlackIt.eot'),
  url('../webfonts/ModernaSans-BlackIt.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/ModernaSans-BlackIt.woff2') format('woff2'),
  url('../webfonts/ModernaSans-BlackIt.woff') format('woff'),
  url('../webfonts/ModernaSans-BlackIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Moderna Sans';
  src: url('../webfonts/ModernaSans-Light.eot'),
  url('../webfonts/ModernaSans-Light.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/ModernaSans-Light.woff2') format('woff2'),
  url('../webfonts/ModernaSans-Light.woff') format('woff'),
  url('../webfonts/ModernaSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Moderna Sans It';
  src: url('../webfonts/ModernaSans-RegularIt.eot'),
  url('../webfonts/ModernaSans-RegularIt.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/ModernaSans-RegularIt.woff2') format('woff2'),
  url('../webfonts/ModernaSans-RegularIt.woff') format('woff'),
  url('../webfonts/ModernaSans-RegularIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Moderna Sans';
  src: url('../webfonts/ModernaSans-Bold.eot'),
  url('../webfonts/ModernaSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/ModernaSans-Bold.woff2') format('woff2'),
  url('../webfonts/ModernaSans-Bold.woff') format('woff'),
  url('../webfonts/ModernaSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Moderna Sans Bold It';
  src: url('../webfonts/ModernaSans-BoldIt.eot'),
  url('../webfonts/ModernaSans-BoldIt.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/ModernaSans-BoldIt.woff2') format('woff2'),
  url('../webfonts/ModernaSans-BoldIt.woff') format('woff'),
  url('../webfonts/ModernaSans-BoldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Moderna Sans';
  src: url('../webfonts/ModernaSans-Black.eot'),
  url('../webfonts/ModernaSans-Black.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/ModernaSans-Black.woff2') format('woff2'),
  url('../webfonts/ModernaSans-Black.woff') format('woff'),
  url('../webfonts/ModernaSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Moderna Sans Medium It';
  src: url('../webfonts/ModernaSans-MediumIt.eot'),
  url('../webfonts/ModernaSans-MediumIt.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/ModernaSans-MediumIt.woff2') format('woff2'),
  url('../webfonts/ModernaSans-MediumIt.woff') format('woff'),
  url('../webfonts/ModernaSans-MediumIt.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Moderna Sans Light It';
  src: url('../webfonts/ModernaSans-LightIt.eot'),
  url('../webfonts/ModernaSans-LightIt.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/ModernaSans-LightIt.woff2') format('woff2'),
  url('../webfonts/ModernaSans-LightIt.woff') format('woff'),
  url('../webfonts/ModernaSans-LightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Moderna Sans';
  src: url('../webfonts/ModernaSans-Regular.eot'),
  url('../webfonts/ModernaSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/ModernaSans-Regular.woff2') format('woff2'),
  url('../webfonts/ModernaSans-Regular.woff') format('woff'),
  url('../webfonts/ModernaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Moderna Sans';
  src: url('../webfonts/ModernaSans-Medium.eot'),
  url('../webfonts/ModernaSans-Medium.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/ModernaSans-Medium.woff2') format('woff2'),
  url('../webfonts/ModernaSans-Medium.woff') format('woff'),
  url('../webfonts/ModernaSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
